

.woocommerce_return_manager{
  padding: 1rem;

  .content{
    padding: 2rem 2rem 7rem;
    border: 1px solid black;
    max-width: 80%;
    margin: auto;

    .return_step_1{
    .input{
      display: flex;
      justify-content: space-between;
      padding-bottom: 4rem;
      flex-wrap: wrap;
        div{
          justify-content: space-between;
          display: flex;
          width: 100%;
          padding-bottom: 1rem;
          label{
            width: 48%;
          }
        }
        input{
          width: 48%;
        }
      }

    }

    .return_step_2{
      display: none;
      .input{
        min-height: 18rem;
      }
      .select2-search--dropdown{
      }
    }



    /*Table*/
    img{
      width: 4rem;
      height: 4rem;
    }
    .action_check{
      width: 3rem;
    }

    td .action_check{
      padding: 1rem;
    }

    .action_checkbox{
      padding: 1rem 0rem 0 2rem;
    }

    .select2-container--default .select2-selection--single{
      width: 100%;
    }

    .select2-search--dropdown{
      height: 0rem!important;
    }

    .select2-search__field{
      border: 0;
      background: transparent;
    }

    select{
      display: none;
    }

    tr,td,th,table{
      border: 1px solid black !important;
      background: white;
      font-weight: 300;
      font-size: 1rem;
      font-family: Roboto;
      &:hover{
        background: white ;
      }
    }

  }
  button{
    padding: 0.5rem 1rem;
    width: 100%;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 3s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

}

