

/*Desktop*/
@media (max-width: 1024px) {
  @import "mobile&tablet/wrmStyle";
}

@media (min-width: 1025px) {
  @import "desktop/wrmStyle";
}
@import "frameworks/prettyCheckbox";

/*General inputs*/
.woocommerce_return_manager{

  input{
    /* Place Holder CSS */
    &::-webkit-input-placeholder {
      color: #000;
      opacity: 0.5;
      -webkit-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    &:-moz-placeholder {
      color: #000;
      opacity: 0.5;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    &::-moz-placeholder {
      color: #000;
      opacity: 0.5;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    &:-ms-input-placeholder {
      color: #000;
      opacity: 0.5;
      -ms-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }

    /* Place Holder CSS for Focus */
    &:hover::-webkit-input-placeholder {
      opacity: 0.75;
      -webkit-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    &:hover:-moz-placeholder {
      opacity: 0.75;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    &:hover::-moz-placeholder {
      opacity: 0.75;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    &:hover:-ms-input-placeholder {
      opacity: 0.75;
      -ms-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }

    /* Place Holder CSS for Focus */
    &:focus::-webkit-input-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    &:focus:-moz-placeholder {
      opacity: 0;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    &:focus::-moz-placeholder {
      opacity: 0;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    &:focus:-ms-input-placeholder {
      opacity: 0;
      -ms-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
  }
}
