

.wrm_admin{
  padding-right: 1rem;

  .hide{
    display: none;
  }
  .show{
    display: inline-table;
  }

  .controlPanel{
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    .search{
      width: 30%;
      input{
        width: 100%;
      }
    }
  }
  .mobileHide{
    display: none!important;
  }

  .orderItem{
    position: relative;
    .mobileHide{
      display: none!important;
    }

    td{
      position: inherit!important;
      display: table-cell!important;
      button{
        font-size: 9px;
      }

    }

    .products{
      background: white;
      position: absolute;
      margin-top: 0.75rem;
      left: 1px;
      width: 99.9%;
      color: #0071a1;
      border-color: #0071a1;
      background: #f3f5f6;
      border-spacing: 0;
      padding-right: 1rem;


      tr,td,th{
        text-align: center!important;
        background: #f3f5f6;
        border-color: #007cba;
        color: #016087;
        box-shadow: 0 0 0 1px #007cba;
        outline: 2px solid transparent;
        outline-offset: 0;
      }


    }

    .emptyField{
      background: #007cba;
    }


  }

  .pagination{
    display: flex;
    justify-content: center;
    .pag_button{
    }
  }

}
